{% extends 'base/main.html' %}
{%load static%}

{% block nav %}
<a class="nav-link" href="admin/">Admin Login</a>
{% endblock nav %} 



   
 {%block content%}
 

 <div class="section">
      <div class="container">
          <div class="content-section">
              <div class="title">
                  <h1>About this platform</h1>
              </div>
              <div class="content">
                  <h2>FEATURES</h2>
                  <p>Sometimes, unknowingly sports persons tend to consume drugs containing prohibited
                     substances which can result in positive dope test.
                  </p>
                  <ul>
                    <li>
                        This is a one-place platform to <strong>interact with doctors/physicians</strong> to know the medical conditions
                        and fill <strong>TUE Form.</strong>
                    </li>
                    <li>
                        The platform features <strong>online/offline</strong> filling of TUE Application form and <strong>check status</strong> and <strong>ask
                        doubts, know the medications</strong>.
                    </li>
                    <li>
                    <strong>Know the prohibited substances</strong> by typing/searching your drug category or drug name directly.
                    </li>
                    <li>
                        <strong>Explore </strong>other alternatives and all the stuff related to anti-doping.
                        </li>
                  </ul>
                  <div class="button " style="background-color: #f4f9fd;">
                      <a href=" ">Read More</a>
                  </div>
              </div>
              <div class="social ">
                  <a href=" "><i class="fab fa-facebook-f "></i></a>
                  <a href=" "><i class="fab fa-twitter "></i></a>
                  <a href=" "><i class="fab fa-instagram "></i></a>
              </div>
          </div>
          <div class="image-section">
              <img src="{% static 'base/tue1.jpg'%}" alt="" srcset="" ">
          </div>
      </div>
  </div>

  <div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <h2>OUR VISION</h2>
                <p> Our Website is actively involved in educating the athletes located at various training centres throughout India. Our website has been organizing workshops/seminars and awareness programmes on Anti Doping issues.<br><br> Our key activities
                    include scientific research, education, development of anti-doping capacities, and monitoring of the World Anti-Doping Code – the document harmonizing anti-doping policies in all sports and all countries.
                </p>
                <div class="button " style="background-color: #f4f9fd;">
                    <a href=" ">Read More</a>
                </div>
            </div>
            <div class="social ">
                <a href=" "><i class="fab fa-facebook-f "></i></a>
                <a href=" "><i class="fab fa-twitter "></i></a>
                <a href=" "><i class="fab fa-instagram "></i></a>
            </div>
        </div>
        <div class="image-section">
            <img src="{% static 'base/tue1.jpg'%}" alt="" srcset="" ">
        </div>
    </div>
</div>

{%endblock content%}



