{% extends 'base/main.html' %}
 {%load static%}


 {%block title%}Home DoS
 {%endblock title%}

 {% block nav %}

 {% endblock nav %}

  {%block content%}
  
 

 <!-- Hero Slider -->
 <div id="home" class="hero-slider owl-carousel owl-theme">
  <div class="single-hs-item item-bg1">
      <div class="d-table">
          <div class="d-tablecell">
              <div class="hero-text">
                  <h1>Champions Never use Doping .</h1>
                  <p>The World Anti-Doping Agency (WADA) produces a list of substances and methods that are banned in sport.
                     It updates this list at least annually, with the new List taking effect on 1 January each year.</p>
                  <div class="slider-btn">
                      <a href="#" class="custom-btn1">Learn More</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="single-hs-item item-bg2">
      <div class="d-table">
          <div class="d-tablecell">
              <div class="hero-text">
                  <h1>THERAPEUTIC USE EXEMPTION (TUE)</h1>
                  <p>TUE is a means by which an athlete can obtain approval to use prescribed prohibited substance or method 
                    for treatment of a legitimate medical condition.
                  </p>
                  <div class="slider-btn">
                      <a href="#" class="custom-btn1 mr-30">Learn More</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="single-hs-item item-bg3">
      <div class="d-table">
          <div class="d-tablecell">
              <div class="hero-text">
                  <h1>This Platform</h1>
                  <p>One-place platform to interact with doctors/physicians to know the medical conditions
                    and fill online/offline TUE Form.
                    Know the prohibited substances by typing/searching your drug category or drug name directly,
                     check status and ask
                      doubts, know the medications everything online.</p>
                  <div class="slider-btn">
                      <a href="#" class="custom-btn1 mr-30">Learn More</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


  

  <!--info section-->

  <div class="sec3">
    <!-- <img src="#" alt=""> -->
    <div class="doctor">
        <h1> Essential Tools </h1>
    </div>

    <div class="brief2">
        <div class="row">
            <!-- card start here for doctor  -->
            
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sports'Person Tools </h5>
                        <p class="card-text">
                        <div class="link1"><img src=" {% static 'base/stethoscope.png'%}" style=" height: 44px;"> <a href="#">
                                Therapeutic Use Exemptions
                            </a></i></div>
                        <br>
                        <div class="link1"><img src="{% static 'base/test-tube.png'%}" style=" height: 44px;"> <a href="#">
                                Sample Collection
                            </a></i>
                        </div>
                        <br>
                        <div class="link1"><img src="{% static 'base/meditation.png'%}" style=" height: 44px;">
                            <a href="#">Medication
                            </a></i>
                        </div>

                        <br>
                        <div class="link1"><img src="{% static 'base/meds.png'%}" style=" height: 44px;">
                            <a href="#">Prohibited Sucstances
                            </a></i>
                            
                        </div>

                        </p>

                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">News Glimpse </h5>
                        <!-- news loop -->


                        <p class="card-text">

                            With supporting text below as a natural lead-in to additional content.
                        </p>
                        <hr>



                        <p class="card-text">

                            : closely related to
                            paraldehyde
                            b: involving substitution at or characterized by two opposite positions in the benzene
                            ring that are separated by two carbon atoms
                            paradichlorobenzene
                            3a: faulty : abnormal
                        </p>
                        <hr>
                      





                    </div>
                </div>
            </div>




        </div>

    </div>




</div>




{%endblock content%}


