{% extends 'base/main.html' %}
{% load static %}

       {%block title%}Testing
       {%endblock title%}


   
 {%block content%}
 <div class="card bg-dark text-white" style="overflow-y:auto; font-weight: 600;">
    <img src="{% static 'base/NoDoping.jpg' %}" class="img-fluid" style="opacity: 0.9;">
    <div class="card-img-overlay">
        <h5 class="card-title" style="color: red; font-size: xx-large;">Resources</h5>

    </div>
</div>


<div class="section ">
    <div class="container ">
        <div class="content-section ">

            <div class="content ">
                <h2>Doping</h2>
                <p> the use of a substance (such as an anabolic steroid or erythropoietin) or technique (such as blood doping) to illegally improve athletic performance
                </p><br>
                <h2>Anti Doping</h2>
                <p> Protecting clean athletes’ rights by detecting and deterring the use of dangerous, banned performance-enhancing substances and methods in doping test. We rely on and expect athletes to embrace anti-doping responsibilities to ensure
                    the protection of clean competition.
                </p>
                <div class="button ">
                    <a href=" ">Explore</a>
                </div>

            </div><br>
            <!--  <div class="social ">
        <a href=" "><i class="fab fa-facebook-f "></i></a>
        <a href=" "><i class="fab fa-twitter "></i></a>
        <a href=" "><i class="fab fa-instagram "></i></a>
    </div>-->
        </div>
        <div class="video-section ">
            <iframe class="video " width="100% " height="100%" src="https://www.youtube.com/embed/9y1VYw5LWDc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
<br>
<div class="section cycle ">
    <div class="container ">
        <div class="content-section ">
            <div class="title ">
                <h1>Prohibited Enhancement Drugs(PEDs)</h1>
            </div>
            <div class="content ">

                <p>
                    <ul>
                        <li> Prohibited list includes both the drug substances and the methods which has the potential to enhance performance in sports.</li>
                        <li> Certain substances and methods which have the potential to mask the other prohibited substances and method are also included in the prohibited list.</li>
                        <li> It includes the following 3 categories substances and methods :</li>
                    </ul>
                    <ol style="padding-left: 50px;">
                        <li>Substances and methods prohibited at all times</li>
                        <li>Substances and methods prohibited in Competition</li>
                        <li>Substances prohibited in Particular Sports</li>
                    </ol>

                </p>
                <div class="button ">
                    <a href="">Explore</a>
                </div>



            </div>
            <!--  <div class="social ">
            <a href=" "><i class="fab fa-facebook-f "></i></a>
            <a href=" "><i class="fab fa-twitter "></i></a>
            <a href=" "><i class="fab fa-instagram "></i></a>
        </div>-->
        </div><br>
        <div class="image-section ">
            
            <img src="{% static 'base/drugs1.jpg' %}" alt=" " srcset=" " ">
    </div>
</div>
</div>
<br>
<div class="section cycle ">
<div class="container ">
    <div class="content-section ">
        <div class="title ">
            <h1>Therapeutic Use Exemption(TUE)</h1>
        </div>
        <div class="content ">
           <p> <ul>
                <li>A Therapeutic Use Exemption (TUE) is an official medical document giving an athlete permission to take a medication that is ordinarily prohibited for the treatment of a legitimate condition. It is only valid for a given period of time.</li>
                <li>It is a documented medical file approved by a TUE Committee accepting that there is a legitimate need to take medication and no equal alternative available.</li>
                <li>It permits the athlete to take the defined medication while competing without them registering a doping offence</li>
                <li>The use of TUEs is carefully monitored to avoid any abuse or manipulation.</li>
            </ul></p>
            <div class="button ">
                <a href="">Explore</a>
            </div>
        </div>
        {% comment %} <div class="social ">
        <a href=" "><i class="fab fa-facebook-f "></i></a>
        <a href=" "><i class="fab fa-twitter "></i></a>
        <a href=" "><i class="fab fa-instagram "></i></a>
    </div> {% endcomment %}
    </div><br>
    <div class="image-section ">
        
        <img src="{% static 'base/TUE3.jpg' %}" alt=" " srcset=" " ">
        </div>
    </div>
</div>
<br>
<div class="card-group">
    <div class="card">
        <img src="{% static 'base/tue1.jpg' %}" class="card-img-top " alt="... ">
        <div class="card-body ">
            <h3 class="card-title " style="text-align: center;color: darkblue; ">TUE PROCESS</h3>
            <div class="button ">
                <a href=" ">Apply For Tue</a>
            </div>
            <div class="button ">
                <a href=" ">Renew your Tue</a>
            </div>
            <div class="button ">
                <a href=" ">Tue Pre-Check</a>
            </div>
        </div>
    </div>
    <div class="card ">
        <img src="{% static 'base/doping2.jpg' %}" class="card-img-top " alt="... ">
        <div class="card-body car ">
            <h3 class="card-title " style="text-align: center;color: darkblue; ">DRUG REFERENCE</h3>
            <div class="button ">
                <a href=" ">Prohibited list</a>
            </div>
            <div class="button ">
                <a href=" ">Read More</a>
            </div>
            <div class="button ">
                <a href=" ">Read More</a>
            </div>
        </div>
    </div>
    <div class="card ">
        <img src="{% static 'base/doping2.jpg' %}" class="card-img-top " alt="... ">
        <div class="card-body car ">
            <h3 class="card-title " style="text-align: center;color: darkblue; ">Resources</h3>
            <div class="button ">
                <a href=" ">Tue Faqs</a>
            </div>
            <div class="button ">
                <a href=" ">Tue Policy</a>
            </div>
            <div class="button ">
                <a href=" ">Read More</a>
            </div>
        </div>
    </div>
</div>


{%endblock content%}


