{% extends 'base/main.html' %}
{% load static %}

       {%block title%}TUE
       {%endblock title%}


   
 {%block content%}

 <div class="card bg-dark text-white" style="overflow-y:auto;">
      <img src="{% static 'base/sih3.jpg'%}" class="img-fluid">
      <div class="card-img-overlay">
          <h5 class="card-title" style="color: #900808;font-size:5em;">All about TUE ...</h5>

      </div>
  </div>








  <div class="section ">
      <div class="container ">
          <div class="content-section ">
              <div class="title ">
                  <h1>Therapeutic Use Exemption(TUE)</h1>
              </div>
              <div class="content ">
                  <p> In some situations, an athlete may have an illness or condition that requires the use of medication listed on the World Anti-Doping Agency’s Prohibited List. The TUE application process is thorough and designed to balance the need
                      to provide athletes access to critical medication while protecting the rights of clean athletes to complete on a level playing field.
                  </p>
                  <!-- <div class="button ">
                      <a href=" ">Read More</a>
                  </div>
                  -->
              </div>
              <div class="social ">
                  <a href=" "><i class="fab fa-facebook-f "></i></a>
                  <a href=" "><i class="fab fa-twitter "></i></a>
                  <a href=" "><i class="fab fa-instagram "></i></a>
              </div>
          </div>
          <div class="video-section ">
              <iframe class="video " width="100% " height="100% " src="https://www.youtube.com/embed/6e79bIj0Hcc " title="YouTube video player " frameborder="0 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture " allowfullscreen></iframe>
          </div>
      </div>
  </div>



<div class="section cycle ">
    <div class="container ">
        <div class="content-section ">
          
                <h1>Four Criteria For Granting a TUE</h1>
          
            <div class="content ">                   
                <p>
                    <ul style="font-size: x-large; ">
                        <li>Step 1: There is a significant medical requirement to use the prohibited substance or method.</li>
                        <li> Step 2: The prohibited substance or method cannot enhance performance past baseline levels.</li>
                        <li> Step 3: The prohibited substance or method is the only reasonable treatment available.</li>
                        <li> Step 4: The condition being treated was not caused by the previous misuse of a prohibited substance or method.</li>
                    </ul>
                </p>

            </div>
            
        </div>
        
        <div class="image-section ">
            <img src="{% static 'base/doping1.jpg'%}" alt=" " style="height:30em;width:20em;">
        </div>
    </div>
</div>


  <div class="section cycle ">
      <div class="container ">
          <div class="content-section ">
              <div class="title ">
                  <h1>TUE Application Process</h1>
              </div>
              <div class="content ">                   
                  <p>
                      <ul style="font-size: x-large; ">
                          <li>Step 1: Determine if a TUE is Needed.</li>
                          <li> Step 2: Find your Condition.</li>
                          <li> Step 3: Download the appropriate TUE application.</li>
                          <li> Step 4: Complete the TUE application and collect medical documents.</li>
                          <li> Step 5: Review your TUE application.</li>
                          <li> Step 6: Submit COMPLETED application to us</li>
                      </ul>
                  </p>

              </div>
              <!--  <div class="social ">
                  <a href=" "><i class="fab fa-facebook-f "></i></a>
                  <a href=" "><i class="fab fa-twitter "></i></a>
                  <a href=" "><i class="fab fa-instagram "></i></a>
              </div>-->
              
          </div>
          
          <div class="image-section ">
              <img src="{% static 'base/TUEPROCESS.png'%}" alt=" " style="height:30em;width:20em;">
          </div>
      </div>
  </div>

<br>




  <div class="card-group ">
      <div class="card ">
          <img src="{% static 'base/tue1.jpg' %}" class="card-img-top " alt="... ">
          <div class="card-body ">
              <h3 class="card-title " style="text-align: center;color: darkblue; ">TUE PROCESS</h3>
              <div class="button ">
                  <a href=" ">Apply For TUE</a>
              </div>
              <div class="button ">
                  <a href=" ">Renew your TUE</a>
              </div>
              <div class="button ">
                  <a href=" ">TUE Pre-Check</a>
              </div>
          </div>
      </div>
      <div class="card ">
          <img src="{% static 'base/doping2.jpg' %}" class="card-img-top " alt="... ">
          <div class="card-body car ">
              <h3 class="card-title " style="text-align: center;color: darkblue; ">DRUG REFERENCE</h3>
              <div class="button ">
                  <a href=" ">Prohibited list</a>
              </div>
              <div class="button ">
                  <a href=" ">Read More</a>
              </div>
              <div class="button ">
                  <a href=" ">Read More</a>
              </div>
          </div>
      </div>
      <div class="card ">
          <img src="{% static 'base/doping2.jpg' %}" class="card-img-top " alt="... ">
          <div class="card-body car ">
              <h3 class="card-title " style="text-align: center;color: darkblue; ">Resources</h3>
              <div class="button ">
                  <a href=" ">TUE FAQs</a>
              </div>
              <div class="button ">
                  <a href=" ">TUE Policy</a>
              </div>
              <div class="button ">
                  <a href=" ">Read More</a>
              </div>
          </div>
      </div>
  </div>


{%endblock content%}



